<!DOCTYPE html>
{% extends 'genre/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genre Details</title>
</head>
<body>
{% block content %}
   {% for pieceobj in collection.piece_set.all %}
    <div class="container-fluid" style="margin-top: 80px">
    <div align="center">
        <img src="{{pieceobj.piececover}}" height="400" width="500">
        <h2>{{pieceobj.title}}-{{pieceobj.artist}}</h2>
        <h3>{{pieceobj.typ}}</h3>
        <h3>{{pieceobj.year}}</h3>
        <br/>
    </div></div>
   {% endfor %}

{%endblock%}

</body>
</html>